# Zig
.zig-cache/
zig-out/
o
# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Binaries
contracts/*.fozbin
contracts/*.hex
contracts/*.polkavm
contracts/fozbin.hex
contracts/payload.hex

# Artifacts
gaps_implementation_plan.md
Claude.md
FORGE_LANGUAGE_SPEC.md
FORGE_GEMINI_GAP_FIX_PROMPTS.md
Gemini.md
deploy.html
interact.html
out/